
<p id="notice"><%= notice %></p>

<h1>トピックス <i class="far fa-newspaper"></i></h1>

<table>
  <thead>
    <tr>
      <th>トピック</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <td><%= reflection.topic %></td>
        <td><%= link_to '詳細画面', topic_path(reflection.id), class: "btn btn-outline-secondary" %></td>
      </tr>

      <%= render 'favorite', reflection: reflection %>
    <% end %>
  </tbody>
</table>