<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>使用したもの</h3>

      <p>HTML, CSS, Ruby(Ruby on rails), Javascript</p>
      <p>gem<br>"refile-mini_magick", 'carrierwave', 'bootstrap', '~> 4.5', 'jquery-rails', 'font-awesome-sass', '~> 5.13', 'kaminari','~> 1.2.1 </p>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>工夫した点</h3>
      <p>自分の経験から、すべてのユーザーのトピックだけを一覧で見ることが出来ればより、効率的に勉強できるという思いがあったので、それを実現した。</p>
      <p>使いやすさの観点から、みづからの経験からよく使う機能であると考えられた項目をヘッダーに配置した。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>改善したいところ</h3>
      <p>①トピックスのお気に入りだけを表示できるページの作成。</p>
      <p>②自分の目標に対する達成率の図示。</p>
      <p>③グーグルカレンダーとの紐づけをし、予定部分を直接グーグルカレンダーに記入。</p>
      <p>④プレイヤー一覧をグループやチームごとに階層を分けて表示。</p>
    </div>
  </div>
</div>