<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>本日の反省</h1>

        <%= render 'form', reflection: @reflection %>

        <%= link_to '戻る', reflections_path %>
    </div>
  </div>

</div>