<div class="top-box1">
  <h1>PDCA Helper  <i class="fas fa-pencil-alt"></i></h1>
  <p>日々の振り返りをして、目標を達成しよう！！</p>
</div>

<div class="top-box2">

  <h2>PDCA Helperを作りたいと思った背景</h2>
  <p>前職の不動産営業会社では、毎月の目標を達成するために、業務終了後に毎日の振り返りをし、
  メールにて、全営業部員、マネージャー、部長にむけ、反省と進捗状況を共有しておりました。</p>
  <p>毎日の自分の行動を振り返ることにより、自発的に「明日はこのような工夫をしよう！」、と考えたり、自分の課題の発見につながり、振り返りはとても大事だと感じました。</p>
  <p>ノルマ達成のために、毎日やることなので、IT技術を使い、もっと効率化することが出来ればより、目標達成の近道になるのではないかと考えました。
  </p>
  <p>さらに、前職の会社で使うだけでなく、すべての人の目標達成に生かすことが出来るように改良しました。</p>
</div>

<div class="top-box3">
  <h3>こんな悩みはありませんか  <i class="far fa-frown"></i></h3>
  <p>For player<br>毎月の営業ノルマに追われているが、結果に見えづらく、モチベーションが上がりづらい</p>
  <p>For maneger<br>部下の育成をしたいが、どこで躓いているのかわからない</p>
  <p>もっと効率的に目標達成したい</p>
  <p>目標達成のために何をいつまでにやればいいのかわからず、自分の現在位置の把握ができていない</p>
  <p>仲間の進捗状況を把握し、モチベーションをを上げたい</p>
  <p>成長のために日々の振り返りが大事<br>
  <!--TODO動きつける-->
  PDCAサイクルを使って、効率的な成長をしよう！</p>
</div>

</div>

<div class="top-box5">
  <h1>PDCA Helperでできること</h1>
  <p>①ライバルのトピックを、お気に入りしてまとめてみることが出来る</p>
  <p>②毎日の反省に対して上司からのコメントをもらってより、効率よく目標達成できる</p>
  <p>達成率の確認</p>
  <p>予定がわかる</p>
</div>

<div class="top-box6">
<p>Let's get started!!</p>
</div>

<span id="back">
      <a href="#">
        <img src="img/arrow.png" alt="">
      </a>
    </span>

    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>