<div class="top-box1">
  <h1>PDCA Helper  <i class="fas fa-pencil-alt"></i></h1>
</div>

<div class="top-box2">
  <h2>About PDCA Helper  <i class="fas fa-lightbulb"></i></h2>
  <p>毎月の目標を達成するために、毎日の行動を振り返り、目標に到達する手助けをします</p>
</div>

<div class="top-box3">
  <h3>こんな悩みはありませんか  <i class="far fa-frown"></i></h3>
  <p>For player<br>毎月の営業ノルマに追われているが、結果に結びつかず、モチベーションが上がりづらい</p>
  <p>For maneger<br>部下の育成をしたいが、どこで躓いているのかわからない</p>
  <p>もっと効率的に目標達成したい</p>
  <p>目標達成のために何をいつまでにやればいいのかわからず、後で焦る</p>
  <p>一人じゃ続けられない、モチベーションが上がる仲間が欲しい</p>
</div>

<div class="top-box4">
  <p>成長のために振り返りは大事<br>
  せっかく振り返るならもっと効率的に</p>

</div>

<div class="top-box5">
  <h1>PDCA Helperでできること</h1>
  <p>①ライバルのトピックを、お気に入りしてまとめてみることが出来る</p>
  <p>②毎日の反省に対して上司からのコメントをもらってより、効率よく目標達成できる</p>
  <p>達成率の確認</p>
  <p>予定がわかる</p>
</div>

<div class="top-box6">
<p>Let's get started!!</p>
</div>