<div class="container">
  <div class="row">
    <div class="col-mid-12">
      <h2>プレイヤー<i class="fas fa-users"></i></h2>
      <table>
        <thead>
          <tr>
           <th>image</th>
      <th>name</th>
      <th>所属グループ</th>
      <th colspan ="3"></th>
    </tr>
  </thead>
  <tboady>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></td>
      <td><%= user.name %></td>
      <td><%= user.groups.name %></td>
      <td><%= link_to "Show", user_path(user) %></td>
    </tr>
    <% end %>
  </tboady>
</table>
    </div>
  </div>
</div>