// Place all the styles related to the Rflections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-box1{
  height:300px;
  background-color:#00fa9a;
}
.top-box2{
  height:300px;
  background-color:#00ff7f;
}
.top-box3{
  height:300px;
  background-color:#90ee90;
}

.top-box4{
  height:300px;
  background-color:#98fb98;
}

.top-box5{
  height:300px;
  background-color:#7fffd4;
}

.top-box6{
  height:300px;
  background-color:#afeeee;
}

